
		.everything {
			background-color: #7e7c7c;
			margin: 3px;}
			
		a:link {
   			text-decoration: none;}
		a:visited {
			text-decoration: none;}
		a:hover {
			opacity: 0.5;
			text-decoration: none;}
		a:active {
			text-decoration: none;}
			
		div > p1 { 
			padding-top: -70px;
    		font-family: 'Sacramento', cursive;}
    		
		#first {
			font-family: 'Cinzel Decorative', cursive;
			padding-top: 150px;
			padding-bottom: 155px;
			text-align: center;
			font-size: 50px;
			background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/89/Helping_the_homeless.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-size: 100% auto;
			color: #eeeeee;
			background-position: 0 0px;
			letter-spacing: 15px;
			background-size: 99% auto;
			top: 0; right: 0; left: 0; bottom: 0;}
		#mapFront a{color: #b0e7e4;}	
		#mapFront {
			/*padding-top: 125px;*/
			text-align: center;
			font-size: 35px;
			background-color: #424242;
			color: #b0e7e4;
		}
		#link12 {
			padding-top: 50px;
			padding-bottom: 50px;
			font-family: 'Cinzel Decorative', cursive;
			font-size: 25px;}
			
		#slideshow {
			text-align: center;
			font-size: 35px;
			background-color: #e3e2e2;}
		
		#second a{color: #424242;}
		#second {
			font-family: 'Cinzel Decorative', cursive;
			padding-top: 125px;
			padding-bottom: 150px;
			text-align: center;
			font-size: 35px;
			background-color: #b0e7e4;
			color: #424242;}
		
		#third a{color: #606060;}		
		#third {
			font-family: 'Cinzel Decorative', cursive;
			padding-top: 125px;
			padding-bottom: 150px;
			text-align: center;
			font-size: 35px;
			background-color: #e3e2e2;
			color: #606060;}
			
		#backToTop img{
			position: fixed;
    			bottom: 20px;
   			right: 30px;
			height: 60px;}
		
		#navmenu a {text-decoration:none; color: #e3e2e2; }
		#navmenu ul {margin-top: 0; position: fixed; position: center;  
			left: 0;
			right: 0; 
			list-style-type: none; list-style-image: none; background-color: #606060;
			font-family: 'Sacramento', cursive; text-align: center; border: solid #e3e2e2;}
		#navmenu li {display: inline; padding: 5px 80px 5px 80px; font-size: 25px;}
