
		.everything {
			background-color: #7e7c7c;
			margin: 3px;}
			
		a:link {
   			text-decoration: none;}
		a:visited {
			text-decoration: none;}
		a:hover {
			opacity: 0.5;
			text-decoration: none;}
		a:active {
			text-decoration: none;}
			
		div > p1 { 
			padding-top: -70px;
    		font-family: 'Sacramento', cursive; font-size: 35px;}
    		
		h1 {margin: 0 0;}
		ul {margin: 0 0;}
    		
		#first {
			font-family: 'Cinzel Decorative', cursive;
			width: 100%;
			padding-top: 250px;
			padding-bottom: 255px;
			text-align: center; font-size: 4.3vw;
			/*font-size: 50px;*/ 
			background-image: url("https://download.unsplash.com/photo-1422728221357-57980993ea99");
			/*http://i.huffpost.com/gen/1377460/images/o-POVERTY-facebook.jpg*/
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 0 60%;
			background-size: 100% auto;
			color: #eeeeee;
			letter-spacing: 15px;
			background-size: 100% auto;
			top: 0; left: 0; right: 0; bottom: 0;}
			
		#mapFront a{color: #b0e7e4;}	
		#mapFront {
			/*padding-top: 125px;*/
			width: 100%; height: 100%;
			border: none; 
			text-align: center;
			font-size: 35px;
			background-color: #424242;
			color: #b0e7e4;
		}
		#link12 {
			/*border: solid #424242; */
			padding-top: 50px;
			padding-bottom: 50px;
			font-family: 'Cinzel Decorative', cursive;
			font-size: 25px;}
			
		#slideshow {
			/*width: 100%; height: 100%;*/
			text-align: center;
			/*padding-left:20px;*/
			padding-right: none;
			font-size: 35px;
			background-color: #e3e2e2;}
		
		#second a{color: #424242;}
		#second {
			font-family: 'Cinzel Decorative', cursive;
			padding-top: 125px;
			padding-bottom: 150px;
			text-align: center;
			font-size: 35px;
			background-color: #b0e7e4;
			color: #424242;}
		
		#third a{color: #606060;}		
		#third {
			font-family: 'Cinzel Decorative', cursive;
			padding-top: 125px;
			padding-bottom: 150px;
			text-align: center;
			font-size: 35px;
			background-color: #e3e2e2;
			color: #606060;}
			
		#fourth a{color: #e3e2e2;}		
		#fourth {
			font-family: 'Cinzel Decorative', cursive;
			padding-top: 125px;
			padding-bottom: 150px;
			text-align: center;
			font-size: 35px;
			background-color: #606060;
			color: #e3e2e2;}
		h3 {font-size:50px; font-family: 'Cinzel Decorative', cursive;}
			
		#backToTop img{
			position: fixed;
    			bottom: 20px;
   			right: 30px;
			height: 60px;}
		
		#navmenu a {text-decoration:none; color: #e3e2e2; }
		#navmenu ul {margin-top: 0; position: fixed; position: center;  
			left: 0; top: 0;
			right: 0; 
			list-style-type: none; list-style-image: none; background-color: #606060;
			font-family: 'Sacramento', cursive; text-align: center; border: solid #e3e2e2;}
		#navmenu li {display: inline; padding: 5px 80px 5px 80px; font-size: 25px;}
		
		#mapPrompt {
			padding-top: 100px; 
			padding-bottom: 0;
			font-family: 'Cinzel Decorative', cursive;
			font-size: 20px;
			text-align: center;
			background-color: #606060;
			color: #e3e2e2;}
			
		#mapOptions a {text-decoration:none; color: #e3e2e2; }
		#mapOptions ul {margin-top: 0; position: center;  
			left: 0; right: 0;
			padding-top: 40px; padding-bottom: 105px; 
			list-style-type: none; list-style-image: none; background-color: #606060;
			font-family: 'Sacramento', cursive; text-align: center; color: #606060;}
		#mapOptions li {display: inline; padding: 0px 50px 0px 50px; font-size: 30px;}
